body{
    background-image: url(./images/desktop-wallpaper-deadpool-full-computer-screen-for-laptop-kendo.jpg);
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav{
    background-color: rgb(225, 95, 14);
    border-radius: 30px;
   
    
}
#ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    
    
}
a:hover{
    color: black;
    background-color: yellow;
    transition:1s;
    
}
#b{
    list-style-type: none;
    padding: 0px;
    position: absolute;
    background-color: blue;
    display: none;

    
}
#a{
    position: relative;
}
#a:hover #b{
    display: block;
    background-color: red;
    
    
}

#d{
    list-style-type: none;
    padding: 0px;
    position: absolute;
    background-color: blue;
    display: none;
}
#c{
    position: relative;
}
#c:hover #d{
    display: block;
    background-color: red;
}
