body{
    margin: 0px;
    padding: 0px;
    font-family: 'Anton', sans-serif;
font-family: 'Black Ops One', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
background-color: orange;
}
main{
    display: flex;
    color: rgb(21, 7, 19);
    justify-content: center;
    align-items: center;
    height: 100vh;

}
main form{
    width: 30%;
    background-color: rgba(255, 255, 0, 0.91);
    padding: 20px;
    border-radius: 40px;
}
label,#user,#pass,a{
    display: block;
}

label{
    font-size: 30px;
}
#user, #pass{
    width: 90%;
    height: 30px;
    border-radius: 100px;
    border: none;
    padding-left: 30px;
    margin-bottom: 10px;

}
main form #but{
    display: flex;
    justify-content: space-between;
}
button{
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 40px;
    margin: 10px 0px;
    background-color: green;
    
}
#can{
    background-color: red;
    color: white;
    
}
a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;



}
a:hover{
    color: black;
    font-size: 18px;
    transition: 1s;
}
#user::placeholder{
    color: red;
}
#pass::placeholder{
    color: red;
}
.fa-solid.fa-ghost{
    color: red;
    font-size: 50px;    
}
.fa-solid.fa-ghost:hover{
    font-size: 100px;
    transition: 2s;
}


section{
    display: flex;
    justify-content: center;
}
#cpass{
    position: relative;
}
.fa-solid.fa-lock{
    position: absolute;
    top: 112%;
    left: 2%;
}
#cuser{
    position: relative;
}
.fa-solid.fa-user{
    position: absolute;
    top: 59px;
    left: 10px;
}